.scrollbar
{
	margin-left: 30px;
	float: left;
	height: 300px;
	width: 65px;
	overflow-y: scroll;
	margin-bottom: 25px;
}
::-webkit-scrollbar-track
{
	opacity: 0;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #f4f1ec;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(15, 197, 48, 0.3);
	background-color: #fb9733;
}

body{
    background-image: url("../img/back3.jpg");

}
.nav-link{
    color: #ffffff;
}
.nav-link:hover{
    color: #211023;    
}
.barNavigation{
    display: flex;
    justify-content: flex-end;
    z-index: 20;
}
.maNav{
    position: fixed;
    background-color:#fb9733cb !important;    border-radius: 10px;
    bottom: 45%;
    width: 3.5rem !important;
    right: 1vh;
    z-index: 1000;
}
.pagePresentation{
    background-image: url(../img/Page3/logo.svg);
    height: 80vh;
    background-position: 80% 30%;
    background-repeat: no-repeat;
    background-size: 50%;
    }

.pagePresentation h1{
    font-size: 10vh;
    font-family: 'Volkhov', serif;
    margin-bottom: 0px;

}

.titrePresentation{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    }


    .step-row {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        margin-top: 2em;
      }
      
      .etape {
        text-align: center;
        margin: 0 1em;
      }
      
      
      .carousel-item img {
        height: 400px;
        object-fit: cover;
      }
        
        .etape {
          margin: 1em;
        }
        
        .carousel-item img {
          height: 300px;
        }
      
h2{
    font-family: 'Arima', cursive;
    font-size: 3em;
    font-weight: 600

}

h1 span{
    font-family: 'Arima', cursive;
    font-size: 0.5em;
}
h3{
    text-align: center;
    font-family: 'Arima', cursive;
    font-size: 3em;
    padding-top: 30px;

}
hr{
    width: 10%;
    height: 5px
}
.etapes{
    padding-top: 20px;
}
.etape-row{
    padding-bottom: 20px;
}
.banderole{
    background-color: #f9a826;
}


.testimonial-section {
    background-color: #f8f9fa;
  }
  
  .apreciation-boite {
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    text-align: center;
  }
  
  .apreciation-boite p {
    font-size: 1.2rem;
    line-height: 1.5;
    color: #6c757d;
  }
  
  .apreciation-boite h3 {
    font-size: 1.5rem;
    color: #343a40;
    margin-top: 30px;
    font-family: 'Arima', cursive;
  }
  
  .apreciation-boite .taff {
    font-size: 1.2rem;
    color: #6c757d;
    margin-top: 10px;
  }












  .footer {
    background-color: #343a40;
    color: #fff;
    padding: 30px 0;
  }
  
  .footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .footer ul li {
    margin-bottom: 10px;
  }
  
  .footer ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer ul li a:hover {
    color: #ccc;
  }
  
  .footer i {
    font-size: 24px;
    margin-right: 10px;
  }
  
  .footer p {
    margin: 0;
    font-size: 14px;
  }
  