.pageAcceuil{
    background-image: url("https://storage.googleapis.com/airpict.appspot.com/sizes/lmY0IubpwXStLLUTN6ZC/8rjzco5g95cQYDHFcU7D_1600.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.centrage{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.nav-link{
    color: #11151a;
}
.pageAcceuil h1,.pageAcceuil h2{
    font-size: 20vh;
    font-family: 'Times New Roman', Times, serif;
    color: #997a6b;
    margin-bottom: 0px;
    text-align: center;

}

.barNavigation{
    display: flex;
    justify-content: flex-end;
    z-index: 20;
}
.maNav{
    position: fixed;
    background-color: #293b4cc7 !important;
    border-radius: 10px;
    bottom: 33%;
    width: 3.5rem;
    right: 1vh;

}
.pageAcceuil h2{
    font-size: 5vh;
    text-align: center;
}

.pageAcceuil::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #11151a, rgba(255,255,255,0));
}

.pagePresentation{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #11151a;
}

.pagePresentation p {
    color: white;
}
.pagePresentation h2{
    font-size: 10vh;
    font-family: 'Times New Roman', Times, serif;
    color: #997a6b;
}

.borderPres{
    color:#997a6b;
}

.pagePresentation img{
    width: 100vw;
}

.photoMoi{
    background-image: url("../img/photoMoi1.jpg");
    background-position: 10% 40%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #997a6b;
    height: 60vh;
}
